<a href="https://colab.research.google.com/github/rownukara/Data_preprocessing/blob/main/Feature_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#CSV file read
data_set= pd.read_csv('/content/drive/MyDrive/feature_scaling.csv')
data_set

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40   70000       Yes
5   France   35   58000       Yes
6    Spain   31   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [ ]:
x=data_set[['Age','Salary']]
x

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40   70000
5   35   58000
6   31   52000
7   48   79000
8   50   83000
9   37   67000

MIN MAX SCALER(NORMALIZATION)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
a= MinMaxScaler()
X_after_scaling=a.fit_transform(x)
X_after_scaling

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739, 0.62857143],
       [0.34782609, 0.28571429],
       [0.17391304, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])

Standaedisation

In [ ]:
from sklearn.preprocessing import StandardScaler
a=StandardScaler()
X_after_Standardisation= a.fit_transform(x)
X_after_Standardisation

array([[ 0.82572282,  0.6829409 ],
       [-1.51382518, -1.47371457],
       [-1.10096377, -0.9345507 ],
       [ 0.        , -0.30552619],
       [ 0.27524094,  0.50321961],
       [-0.41286141, -0.57510812],
       [-0.96334329, -1.11427199],
       [ 1.37620471,  1.31196541],
       [ 1.65144565,  1.67140798],
       [-0.13762047,  0.23363768]])